@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root{
    --bg:#f2f1ed;
    --black:#1a1a1a;
    --red:#ea4c4c;
    --rad:8px;
    --rad-top:var(--rad) var(--rad) 0 0;
    --rad-bottom:0 0 var(--rad) var(--rad);
    --gd:linear-gradient(to bottom,#eee,white);
}
*,*::before,*::after{margin:0;padding:0;box-sizing:border-box;}
html,body{
    
    background:var(--bg);
    font-family:"Poppins", sans-serif; font-size:20px; color:var(--black);}

body{
    width:100%; min-height:100vh;
    display:flex; flex-flow:row wrap;
    justify-content:center; align-items:center;
    gap:25px;
}